@media screen and (min-width:1050px){
    .small-screen{
        display:none;
    }
    .container2 {
    position: relative;
    border: 1px solid #404040;
    width:90%;
    height:50px;
    margin-left:auto;
    margin-right: auto;
    overflow:auto;
}
.title {
    position:relative;
    top:40%;
    font-size: 15px;
    margin-left:5px;
}
.page-title {
    position: relative;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.delete-button{
    position:absolute;
    top:30%;
    height:50%;
    left:80%;
    font-size: 20px;
}
.checked {
    color: gray;
}
.expBtn{
    position: relative;
    left:45%;
    top:39%;

}
.star {
    font-size:10px;
    position: relative;
    top:30%;
    left:10%;
}
.container1, .expand-container1{
    margin-top:20px;
}
.expand-container2{
    height:150px;
    left:5%;
    margin-left:auto;
    margin-right: auto;
    width:90%;
    border: 1px solid #404040;
    position: realtive;
}
.add-bookmark-expand{
    position:relative;
    left:68%;
    top:80%;

}
.expStar{
    font-size:15px;
    position: relative;
    left:67%;
    top:20%;
}
.delete-button-exp{
    position:relative;
    top:65%;
    left:52.5%;
}
.title-expand{
    position:relative;
    top:10%;
    font-size: 15px;
    margin-left:5px;
}
.description-expand{
    font-size:15px;
    top:40%;
    left:-35%;
    position: relative;
}

.link-expand{
    position: relative;
    left:70%;
    top:10%;
    display:inline;
}
.sub-container1{
    margin-top:20px;
}
.sub-container2{
    height:120px;
    margin-left:auto;
    margin-right: auto;
    width:90%;
    border: 1px solid #404040;
}
.add-bookmark-sub{
    position: absolute;
    top:21%;
    left:80%;

}
.star-sub{
    font-size:12px;
    position: absolute;
    top:17.5%;
    left:80%;
    width:90px;
}
.title-sub{
    position:absolute;
    top:11%;
    left:7%;
    width:42%;
}
.desc-sub{
    font-size:10px;
    top:14.2%;
    left:7%;
    height:7.5%;
    position: absolute;
    width:70%;
}

.link-sub{
    top:11%;
    right:7%;
    width:42%;
    position: absolute;
}
ul{
    list-style: none;
    padding-left:0;
}
.item-id .item-title .item-url .item-desc .item-star{
    display:none;
}
}
@media screen and (max-width:1049px){
    .body-wrap{
        display:none;
    }

}

